.bodyPaneCntct {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60% 40%;
    position: relative;

    height: 90%;
    width: 80%;
    border-radius: 12px;
    overflow-y: auto;
    overflow-x: hidden;

    color: white;
    line-height: 1.25em;
    font-size: min(3vw, 30px);    

    background-color: rgba(38, 205, 242,0.98);
}

.game {
    span:nth-child(1) {
        font-size: 2em;
    }
    span:nth-child(2) {
        font-size: 1em;
    }
}
.gameStart:hover {
    cursor: pointer;
    color: red !important;
}