.lg-parent {
    display: flex;
    flex-flow: column;
    justify-content: center;

    .lg-child {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        width: min(95vw, 385px);
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        height: min(98vh, 659px);
        overflow: hidden;
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: -38%;

    }
}

@media screen and (max-height: 650px) {
    .lg-parent {

        .lg-child {

            form {
                overflow-y: auto;
            }
        }
    }
}