
.main-container {
    position: relative;
    height: 100%;
    background-color: white;
    color: black;
    padding-top: 1%;

    .button-bar,
    .mail-view-container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .button-bar {
        display: flex;
        padding-bottom: 1%;
        .v-dv {
            border-left: 2px solid rgba(128,128,128,0.5);
            display: inline;
        }
    }

    .button-container {
        display: flex;
        flex-direction: row;
    }

    .mt-2 {
        margin-top: 40px;
    }
    .mail-view-container {
    
        .mView-prnt {
            display: grid;
            grid-template-columns: 3vw auto;
            grid-auto-rows: 50px;
            
            .fot {
                border-top: 1px solid grey;
            }
            .chkbx-container {
                border-left: 1px solid grey;
                border-bottom: 1px solid grey;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .mail-item {
                display: grid;
                grid-template-columns: 12vw 80vw;
                grid-template-rows: 100%;
                border-left: 1px solid grey;
                border-right: 1px solid grey;
                border-bottom: 1px solid grey;
    
                div {
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;                
                }
                div:last-child {
                    overflow-y: auto;
                }
                .mail-from {
                    padding-left: 5%;
                }
    
                &:hover {
                    cursor: pointer;
                    background-color: rgba(128,128,128,0.25);                
                }
            }
            .unread {
                font-weight: bold;
            }
            .read {
                font-weight: inherit;
            }            
        }
    }
}

.MuiDrawer-modal {
    .MuiDrawer-paper {
        height: 91% !important;
        top: 9% !important;
    }
}

@media screen and (max-height: 650px) {
    .lg-parent {

        .lg-child {

            form {
                overflow-y: auto;
            }
        }
    }
}