
.main-container {
    position: relative;
    height: 100%;
    background-color: white;
    color: black;
    padding-top: 1%;

    .button-bar,
    .mail-view-container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .button-bar {
        display: flex;
        padding-bottom: 1%;
        .v-dv {
            border-left: 2px solid rgba(128,128,128,0.5);
            display: inline;
        }
    }

    .button-container {
        display: flex;
        flex-direction: row;
    }

    .mt-2 {
        margin-top: 40px;
    }
    .mail-view-container {
    
        .mView-prnt {
            display: grid;
            grid-template-columns: 3vw auto;
            grid-auto-rows: 50px;
            
            .fot {
                border-top: 1px solid grey;
            }
            .chkbx-container {
                border-left: 1px solid grey;
                border-bottom: 1px solid grey;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .mail-item {
                display: grid;
                grid-template-columns: 12vw 80vw;
                grid-template-rows: 100%;
                border-left: 1px solid grey;
                border-right: 1px solid grey;
                border-bottom: 1px solid grey;
    
                div {
                    display: flex;
                    align-content: center;
                    flex-wrap: wrap;                
                }
                div:last-child {
                    overflow-y: auto;
                }
                .mail-from {
                    padding-left: 5%;
                }
    
                &:hover {
                    cursor: pointer;
                    background-color: rgba(128,128,128,0.25);                
                }
            }
            .unread {
                font-weight: bold;
            }
            .read {
                font-weight: inherit;
            }            
        }
    }
}

.notification-dialog {
    display: flex;
    align-items: center;
    .MuiDialog-container {
        width: 45vw !important;
        margin-left: auto;
        margin-right: auto;
    
        .MuiPaper-root {
            max-width: 100%;
            width: 100%;
            max-height: 100%;
            height: max-content;
            padding-bottom: 2%;

            .MuiDialogContent-root {
                display: flex;
                justify-content: center;

                .MuiTypography-root {
                    width: 100%;
                    .notification-container {
                        display: grid;
                        grid-gap: 3%;
                        grid-template-rows: auto;
                        grid-template-columns: 100%;
                        .notification-item {
                            color: white;
                            font-size: 1vw;
                            padding: 1%;
                            display: flex;
                            align-items: center;

                            svg {
                                display: block;
                                position: absolute;
                                right: 5%;
                            }
                        }
                        .primary {
                            background-color: rgb(63, 81, 181);
                            &:hover {
                                background-color: rgba(63, 81, 181, 0.25);
                            }
                        }
                        .secondary {
                            background-color: rgb(245, 0, 87);
                            &:hover {
                                background-color: rgba(245, 0, 87, 0.25);
                            }
                        }
                        .error {
                            background-color: rgb(244, 67, 54);
                            &:hover {
                                background-color: rgba(244, 67, 54, 0.25);
                            }
                        }
                        .warn {
                            background-color: rgb(255, 152, 0);
                            &:hover {
                                background-color: rgba(255, 152, 0, 0.25);
                            }
                        }
                        .info {
                            background-color: rgb(33, 150, 243);
                            &:hover {
                                background-color: rgba(33, 150, 243, 0.25);
                            }
                        }
                        .success {
                            background-color: rgb(76, 175, 80);
                            &:hover {
                                background-color: rgba(76, 175, 80, 0.25);
                            }
                        }
                    }
                }
            }
        }
    }
}

.MuiDrawer-modal {
    .MuiDrawer-paper {
        height: 91% !important;
        top: 9% !important;
    }
}

@media screen and (max-height: 650px) {
    .lg-parent {

        .lg-child {

            form {
                overflow-y: auto;
            }
        }
    }
}